html, body {
  height: 100%; }

body {
  background-color: #eeeeee !important;
  font-family: "Merriweather", serif !important;
  font-weight: 300 !important; }

.body {
  background-color: #fff;
  margin-top: 50px; }
  @media (min-width: 768px) {
    .body {
      margin-top: 30px;
      -moz-box-shadow: 1px 1px 2px 0px;
      -webkit-box-shadow: 1px 1px 2px 0px;
      box-shadow: 1px 1px 2px 0px; } }

.gallery-heading {
  text-decoration: underline;
  padding: 10px 0; }

.center {
  text-align: center; }

/* Carousel Customization */
#myCarousel {
  height: 500px; }

.carousel h2 {
  text-shadow: rgba(0, 0, 0, 0.75) 2px 2px 0;
  font-size: 1.5em; }
  @media (min-width: 768px) {
    .carousel h2 {
      font-size: 2em; } }
  @media (min-width: 992px) {
    .carousel h2 {
      font-size: 2em; } }
.carousel h1 {
  text-shadow: rgba(0, 0, 0, 0.75) 2px 2px 0;
  font-size: 2em; }
  @media (min-width: 768px) {
    .carousel h1 {
      font-size: 3em; } }

.item,
.active,
.carousel-inner {
  height: 100%; }

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover; }

.about-us-img {
  padding: 25px; }
  @media (min-width: 768px) and (max-width: 992px) {
    .about-us-img {
      margin-top: 100px; } }
  @media (max-width: 768px) {
    .about-us-img img {
      margin: 0 auto; } }

#about {
  padding-top: 50px;
  margin-top: -50px; }

.navbar-brand {
  padding: 15px 15px;
  line-height: 20px; }
  @media (min-width: 992px) {
    .navbar-brand {
      padding: 15px 15px;
      font-size: 25px; } }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }
  @media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      margin-left: 15px; } }

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  *zoom: 1; }
  .nav > li {
    position: relative;
    display: block; }
    .nav > li > a {
      position: relative;
      display: block;
      padding: 15px 15px; }
      @media (min-width: 992px) {
        .nav > li > a {
          padding: 15px 15px !important;
          font-size: 20px; } }
      .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee; }
    .nav > li.disabled > a {
      color: #999999; }
      .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
        color: #999999;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed; }

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-radius: 0; }

.navbar {
  border-radius: 0; }

.navbar-theme {
  background-color: #000;
  border-color: #eeeeee; }
  @media (min-width: 768px) {
    .navbar-theme {
      -moz-box-shadow: 0px 1px 5px 0px;
      -webkit-box-shadow: 0px 1px 5px 0px;
      box-shadow: 0px 1px 5px 0px; } }
  .navbar-theme .navbar-logo {
    height: 50px;
    float: left;
    padding: 5px; }
  .navbar-theme .navbar-brand {
    float: left;
    color: #fff; }
    .navbar-theme .navbar-brand:hover, .navbar-theme .navbar-brand:focus {
      color: #FFD700;
      background-color: transparent;
      text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0; }
  .navbar-theme .navbar-text {
    color: #fff; }
  .navbar-theme .navbar-nav > li > a {
    color: #fff; }
    .navbar-theme .navbar-nav > li > a:hover, .navbar-theme .navbar-nav > li > a:focus {
      color: #FFD700;
      background-color: transparent;
      text-shadow: rgba(0, 0, 0, 0.75) 2px 2px 0; }
  .navbar-theme .navbar-nav > .active > a, .navbar-theme .navbar-nav > .active > a:hover, .navbar-theme .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #eeeeee; }
  .navbar-theme .navbar-nav > .disabled > a, .navbar-theme .navbar-nav > .disabled > a:hover, .navbar-theme .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; }
  .navbar-theme .navbar-toggle {
    border-color: #ddd; }
    .navbar-theme .navbar-toggle:hover, .navbar-theme .navbar-toggle:focus {
      background-color: #ddd; }
    .navbar-theme .navbar-toggle .icon-bar {
      background-color: #888; }
  .navbar-theme .navbar-collapse,
  .navbar-theme .navbar-form {
    border-color: #eeeeee; }
  .navbar-theme .navbar-nav > .open > a, .navbar-theme .navbar-nav > .open > a:hover, .navbar-theme .navbar-nav > .open > a:focus {
    background-color: #eeeeee;
    color: #555; }
  @media (max-width: 767px) {
    .navbar-theme .navbar-nav .open .dropdown-menu > li > a {
      color: #fff; }
      .navbar-theme .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-theme .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FFD700;
        background-color: transparent; }
    .navbar-theme .navbar-nav .open .dropdown-menu > .active > a, .navbar-theme .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-theme .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #eeeeee; }
    .navbar-theme .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-theme .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-theme .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; } }
  .navbar-theme .navbar-link {
    color: #fff; }
    .navbar-theme .navbar-link:hover {
      color: #FFD700; }

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  *zoom: 1; }
  .nav > li {
    position: relative;
    display: block; }
    .nav > li > a {
      position: relative;
      display: block;
      padding: 15px 15px; }
      .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee; }
    .nav > li.disabled > a {
      color: #999999; }
      .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
        color: #999999;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed; }

footer {
  -moz-box-shadow: 0px -5px 13px 0px;
  -webkit-box-shadow: 0px -5px 13px 0px;
  box-shadow: 0px -5px 13px 0px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjAlIiBjeT0iMCUiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMjBmMmIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDIwNWMiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(left top, #020f2b, #04205c);
  background-image: -webkit-radial-gradient(left top, #020f2b, #04205c);
  background-image: radial-gradient(left top, #020f2b, #04205c);
  background-color: #020F2B;
  color: #ccc; }
  footer legend {
    font-size: 2em;
    color: #fff; }

.footer-wrap {
  margin-top: 15px;
  padding-top: 15px; }

@media (max-width: 992px) {
  .email-form {
    padding-top: 25px; } }

.social img {
  width: 23%;
  padding: 0 2%; }

.copyright {
  margin-top: 10px;
  font-color: #aaa;
  font-size: 10pt;
  padding-top: 5px;
  border-top: 1px solid #aaa; }

.gallery {
  margin-top: 50px; }

@media (max-width: 480px) {
  .gallery-row h2, .gallery-row h1 {
    font-size: 18px; }
  .gallery-row .gallery-section, .gallery-row .heading {
    padding: 0px; }
  .gallery-row .menu-col a {
    font-size: 14px; } }
.gallery-row .heading h1 {
  font-size: 30px; }
.gallery-row #main-col-wrap {
  margin-top: 20px; }
.gallery-row .gallery-img img {
  float: right;
  margin: 10px; }

.fancybox-title-over-wrap {
  width: 100%;
  padding: 0; }

.fancybox-title-over-wrap > div {
  padding: 10px; }

.thumbnail {
  display: block;
  padding: 0 !important;
  margin-bottom: 20px;
  line-height: 1.42857;
  background-color: #fff;
  border: none !important;
  border-radius: none !important;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .thumbnail > img,
  .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .thumbnail .caption {
    padding: 9px;
    color: #333333; }

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #428bca; }

@media (min-width: 768px) {
  .affix {
    position: fixed !important; } }
@media (max-width: 768px) {
  .affix {
    position: static;
    width: auto;
    top: 0; } }

#affix-nav h2 {
  margin-top: 10px; }
  @media (max-width: 992px) {
    #affix-nav h2 {
      font-size: 25px; } }
@media (min-width: 768px) and (max-width: 992px) {
  #affix-nav {
    width: 170px !important; } }
@media (min-width: 992px) and (max-width: 1200px) {
  #affix-nav {
    width: 200px !important; } }
@media (min-width: 1200px) {
  #affix-nav {
    width: 250px !important; } }

.thumb a {
  text-align: center;
  font-color: black;
  padding-top: 5px; }

.thumb a:hover {
  text-decoration: none;
  opacity: .5; }

/* CSS Styles for Chapter 3 */
dl, dt, dl {
  margin: 0;
  padding: 0; }

dt {
  color: #268bd2;
  font-weight: bold;
  margin-bottom: 1em;
  cursor: pointer;
  line-height: 16px;
  background: url(../img/arrow-sprite.png) 0 0 no-repeat;
  padding-left: 18px; }

dt:hover {
  color: #2aa198;
  background-position: 0 -16px; }

dt.open {
  background-position: 0 -32px; }

dt.open:hover {
  background-position: 0 -48px; }

dd {
  margin-left: 2em; }

dd *:first-child {
  margin-top: 0;
  padding-top: 0; }

.faq-list {
  margin: 50px 20px; }

@media (max-width: 768px) {
  .faq-list {
    font-size: 12px; } }
.contact {
  background-color: white;
  margin-top: 50px;
  padding-top: 25px; }
  .contact .email-form, .contact .map, .contact .social, .contact .contact-info {
    padding: 15px; }
