footer{
	@include box-shadow(0px -5px 13px 0px);
	@include background-image(radial-gradient(left top, $footer-bg, lighten($footer-bg, 10%)));
	background-color:$footer-bg;
	color:#ccc;
	legend{
	font-size: 2em;
	color:#fff;
}
}

.footer-wrap{
	margin-top:15px;
	padding-top:15px;
}


.email-form {
	@media (max-width: $screen-md){
	padding-top:25px;
}
}

.social {
	img {
		width: 23%;
		padding: 0 2%;
	}
}

.copyright{
	margin-top:10px;
	font-color:#aaa;
	font-size: 10pt;
	padding-top:5px;
	border-top:1px solid #aaa;
}