html, body {
  height: 100%;
}

body {
  background-color:$gray-lighter !important;
  font-family: $font-stack-serif !important;
  font-weight: 300 !important;
}

.body{
  background-color:#fff;
  margin-top:50px;
  @media (min-width: $screen-sm){
  	margin-top:30px;
  @include box-shadow(1px 1px 2px 0px);
  }
  
}



.gallery-heading{

  text-decoration: underline;
  padding: 10px 0;

}

.center {
  text-align: center;
}